[Unit]
Description=scuf_controller
After=syslog.target network.target multi-user.target nodm.service

[Service]
Type=forking
User=root
ExecStart=/bin/bash /usr/games/scuf-enabled.sh

[Install]
WantedBy=default.target
